body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    color: #000;
}

p {
    word-wrap: break-word;
    font-size: 1.5vw;
}

input[type="text"] {
    width: 20vw;
    font-size: 1.5vw;
}

input[type="submit"] , button {
    width: 8vw;
    font-size: 1vw;
}

textarea {
    width: 30vw;
    font-size: 1.5vw;
}

.mg-b-3 {
    margin-bottom: 3vh;
}

.mg-b-10 {
    margin-bottom: 10vh;
}




.header {
    display: flex;
    justify-content: space-between;
    padding: 5vh 0;
    width: 100vw;
    height: 15vh;
    box-sizing: border-box;
    background-color: lightgreen;
}

.header-logo {
    font-size: 3vw;
    margin-left: 5vw;
    font-weight: bold;
}

.header-form {
    margin-left: 20vw;
    width: 25vw;
}

.search {
    width: 70%;
    display: inline-block;
}

.search-btn {
    width: 20%;
    display: inline-block;
}



.dropdown {
    margin-right: 3vw;
    z-index: 1;
    background-color: lightgreen;
}


.btn-logout {
    border: none;
    background-color: #eee;
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer;
}


.footer {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    box-sizing: border-box;
    height: 5vh;
}

.footer-logo {
    font-size: 1vw;
    font-weight: bold;
}


.container {
    width: 100vw;
    margin-top: 20vh;
}



.picture-form {
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    padding: 10vh 20vw;
}

.picture-form > * {
    margin-top: 10vh;
}

.picture-form > label {
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
}

.picture-form-file {
    margin-left: auto;
}

.picture-form-btn {
    width: 10vw;
    margin-right: auto;
    margin-left: auto;
}

.red {
    color: red;
}

.block {
    display: block;
}



.search-result {
    text-align: center;
    margin: 20vh 0;
}

.pictures {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    margin-right: 3.8vw;
    margin-bottom: 10vh;
}

.picture {
    width: 16vw;
    height: 30vh;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    object-fit: cover;
    object-position: center center;
    overflow: clip;
}

.pagination {
    margin-bottom: 10vh;
    text-align: center;
}

.page-item {
    display: inline;
}

.page-item:not(:last-of-type) {
    margin-right: 0.5vw;
}



.picturepage-wrap {
    width: 60vw;
    margin: 20vh auto;
}

.picture-img {
    width: 100%;
    height: 100%;
    overflow: clip;
}

.like {
    margin-bottom: 20vh;
}

.like-link {
    color: red;
    font-size: 1.5vw;
}

.like p {
    font-size: 2vw;
}

.picturepage-title, .picturepage-user {
    margin-bottom: 10vh;
}

.picturepage-title p {
    font-size: 3vw;
}

.picturepage-post_comment p {
    font-size: 1.5vw;
}

.picturepage-post_comment , .picturepage-tagform , .picturepage-commentform, .picturepage-comment {
    margin-bottom: 5vh;
}

.picturepage-tag {
    display: flex;
    flex-wrap: wrap;
}

.picturepage-tagname {
    font-size: 1.5vw;
    margin-right: 5vw;
}

.picturepage-user {
    margin-top: 5vh;
}

.picturepage-comment {
    background-color: #ddd;
}

.picturepage-comment-date {
    width: 100%;
    margin-top: 5vh;
}



.userpage {
    text-align: center;
    margin-bottom: 30vh;
}

.userpage-icon {
    width: 50vw;
    height: 70vh;
    margin: 0 auto 10vh;
}

.userpage-icon-img {
    width: 100%;
    height: 100%;
    border-radius: 50vw;
    object-fit: cover;
    object-position: center center;
    overflow: clip;
}



.favorite-title {
    text-align: center;
    margin-bottom: 20vh;
}



.follow-user {
    padding: 15vh 5vw;
    background-color: #ddd;
    margin-bottom: 30vh;
}

.follow-icon, .popularpage-icon {
    width:  15vw;
    height: 25vh;
    margin-bottom: 10vh;
}

.follow-icon-img, .popularpage-icon-img {
    width: 100%;
    height: 100%;
    border-radius: 50vw;
    object-fit: cover;
    object-position: center center;
    overflow: clip;
}

.follow-user-picture {
    width: 10vw;
    height: 20vh;
    margin-right: 1vw;
}

.jc-sb {
    justify-content: space-between;
}



.popular-pictures {
    margin-bottom: 20vh;
}

.popular-picture {
    margin-right: 4vw;
    margin-bottom: 20vh;
}

.popular-users {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.popular-user {
    margin-bottom: 20vh;
    margin-right: 10vw;
}



.notifications {
    width: 60%;
    margin: 20vh auto;
    text-align: center;
}

